@layer components {
  .form-control {
    @apply relative w-full flex flex-col items-start;

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
      @apply block w-full px-4 pt-5 pb-1 rounded-lg border bg-slate-750 accent-slate-50;
      
      &::placeholder {
        @apply text-slate-300;
      }
      
      & + label {
        @apply order-first absolute ml-4 mt-0.5 py-0.5 rounded text-xs text-slate-300 z-10;
      }

      &:placeholder-shown + label {
        @apply transform origin-left scale-150 translate-y-3 cursor-text;
      }

      &::placeholder {
        @apply opacity-0;
      }

      &:focus {
        @apply outline-none ring-2 ring-venom;
        
        &::placeholder {
          opacity: 1;
        }

        &:focus + label {
          @apply text-venom translate-y-0 scale-100;
        }
      }
    }

    select {
      @apply appearance-none;
    }

    input[type="search"] {
      @apply block w-full px-4 py-2 rounded-lg border border-slate-500 bg-slate-700 focus:outline-none focus:ring-2 focus:ring-venom;
    }

    textarea {
      @apply h-24;
    }

    input[type="checkbox"] {
      @apply w-4 h-4 mr-2 accent-venom;
    }
  }
}